@charset "UTF-8";

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: purple;
}

@media all and (max-width: 1080px) {
    body {
        background-color: yellow;
    }
}
